.contacts {
  padding: 52px 0;
}
.contacts__container {
  text-align: center;
}
.contacts__title {
  margin-bottom: 54px;
  color: #48bf72;
  font-family: "Big John", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 25px;
}
.form {
  text-align: left;
}
.form__input-wrap {
  position: relative
}
.form__input-wrap:before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  background-color: #3c4955;
}
.form__label {
  position: absolute;
  visibility: hidden;
}
.form__col {
  width: 50%;
  text-align: right;
}
.form__name {
  float: left;
  padding-right: 15px;
}
.form__name:before {
  content: "\f007";
  font-family: 'FontAwesome';
  color: #fff;
}
.form__email {
  float: right;
  padding-left: 15px;
}
.form__email:before {
  left: 15px;
}
.form__input {
  width: calc(100% - 50px);
  height: 50px;
  line-height: 50px;
  padding: 0 23px;
}
.form__input--height {
  height: 228px;
  resize: none;
}
.form__message {
  clear: both;
  text-align: right;
}
.form__message:before {
    height: 228px;
}
